:root {
	--textColor: #241e15;
	--primaryColor: #f5f5dc;
	--accentColor1: #C2E0F2;
	--accentColor2: #7C96A6;
	--testColor: #D04343
}

html {
	min-height: 100%;
}

.style-text {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: var(--textColor);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--primaryColor);
}

main {
	display: grid;
	grid-template-areas: 
	"top top"
	"opt area";
	gap: 1rem;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 3fr;
	max-width: 800px;
}

#intro-sect {
	grid-area: top;
	text-align: center;
}

h1 {
	font-size: 4rem;
}

#option-sect {
	grid-area: opt;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	max-width: 200px;
	border: var(--accentColor2) 1px dashed;
}

input {
	width: 100%;
}

#option-sect label {
	display: block;
	text-align: center;
}

#btn-color,
#btn-canvas-color,
#btn-clear {
	background-color: var(--primaryColor);
	border: var(--accentColor2) 1px solid;
	border-radius: 20%;
	width: 100%;
	padding: 5px;
}

#sketch-sect {
	grid-area: area;
	padding: 5px;
	aspect-ratio: 1/1;
	min-width: 250px;
	min-height: 250px;
	box-shadow: var(--accentColor2)  inset 0 0 5px 0;
}

#sketch-area {
	display: grid;
	justify-self: center;
	background-color: #f0f8ff;
	height: 100%;
	width: 100%;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	background-color: var(--accentColor1);
}

#footer-inner {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	width: 100%;
	max-width: 700px;
}

/* hidden for now until i can work on it */
#btn-darkmode {
	visibility: hidden;
}

#ghub-norm img {
	height: 100%;
}