section, 
input {
	border: 1px dashed var(--accentColor2);
}

:root {
	--textColor: #241e15;
	--primaryColor: #f5f5dc;
	--accentColor1: #C2E0F2;
	--accentColor2: #7C96A6;
}

html {
	min-height: 100%;
}

.style-text {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: var(--textColor);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--primaryColor);
}

main {
	display: grid;
	grid-template-areas: 
	"top top"
	"opt area";
	gap: 1rem;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 3fr;
	max-width: 800px;
}

#intro-sect {
	grid-area: top;
	text-align: center;
}

h1 {
	font-size: 4rem;
}

#option-sect {
	grid-area: opt;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	max-width: 200px;
}

input {
	width: 100%;
}

#option-sect label {
	display: block;
	text-align: center;
}

#btn-color {
	background-color: #F5FF55;
	border-radius: 50%;
	padding: 5px;
}

#sketch-sect {
	grid-area: area;
	display: grid;
	justify-self: center;
	background-color: #f0f8ff;
	width: 450px;
	height: 450px;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	background-color: var(--accentColor1);
}

#footer2 {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
	max-width: 700px;
}